/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.

  Modifide for Drupal.
*/

/* `Containers
----------------------------------------------------------------------------------------------------*/

.container-12,
.container-16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.container-38 {
	width: 2280px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24,
.grid-25,
.grid-26,
.grid-27,
.grid-28,
.grid-29,
.grid-30,
.grid-31,
.grid-32,
.grid-33,
.grid-34,
.grid-35,
.grid-36,
.grid-37,
.grid-38 {
  display: inline;
  float: left; /* RTL */
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.container-12 .grid-3,
.container-16 .grid-4,
.container-38 .grid-4 {
  width: 220px;
}

.container-12 .grid-6,
.container-16 .grid-8,
.container-38 .grid-8 {
  width: 460px;
}

.container-12 .grid-9,
.container-16 .grid-12,
.container-38 .grid-12 {
  width: 700px;
}

.container-12 .grid-12,
.container-16 .grid-16,
.container-38 .grid-16 {
  width: 940px;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last) -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .grid-1 {
  width: 60px;
}

.container-12 .grid-2 {
  width: 140px;
}

.container-12 .grid-4 {
  width: 300px;
}

.container-12 .grid-5 {
  width: 380px;
}

.container-12 .grid-7 {
  width: 540px;
}

.container-12 .grid-8 {
  width: 620px;
}

.container-12 .grid-10 {
  width: 780px;
}

.container-12 .grid-11 {
  width: 860px;
}

/* `Grid >> 16 and 38 Columns
----------------------------------------------------------------------------------------------------*/

.container-16 .grid-1,
.container-38 .grid-1 {
  width: 40px;
}

.container-16 .grid-2,
.container-38 .grid-2 {
  width: 100px;
}

.container-16 .grid-3,
.container-38 .grid-3 {
  width: 160px;
}

.container-16 .grid-5,
.container-38 .grid-5 {
  width: 280px;
}

.container-16 .grid-6,
.container-38 .grid-6 {
  width: 340px;
}

.container-16 .grid-7,
.container-38 .grid-7 {
  width: 400px;
}

.container-16 .grid-9,
.container-38 .grid-9 {
  width: 520px;
}

.container-16 .grid-10,
.container-38 .grid-10 {
  width: 580px;
}

.container-16 .grid-11,
.container-38 .grid-11 {
  width: 640px;
}

.container-16 .grid-13,
.container-38 .grid-13 {
  width: 760px;
}

.container-16 .grid-14,
.container-38 .grid-14 {
  width: 820px;
}

.container-16 .grid-15,
.container-38 .grid-15 {
  width: 880px;
}

.container-38 .grid-16 {
  width: 940px;
}

.container-38 .grid-17 {
  width: 1000px;
}

.container-38 .grid-18 {
  width: 1060px;
}

.container-38 .grid-19 {
  width: 1120px;
}

.container-38 .grid-20 {
  width: 1180px;
}

.container-38 .grid-21 {
  width: 1240px;
}

.container-38 .grid-22 {
  width: 1300px;
}

.container-38 .grid-23 {
  width: 1360px;
}

.container-38 .grid-24 {
  width: 1420px;
}

.container-38 .grid-25 {
	width: 1480px;
}

.container-38 .grid-26 {
	width: 1540px;
}

.container-38 .grid-27 {
	width: 1600px;
}

.container-38 .grid-28 {
	width: 1660px;
}

.container-38 .grid-29 {
	width: 1720px;
}

.container-38 .grid-30 {
	width: 1780px;
}

.container-38 .grid-31 {
	width: 1840px;
}

.container-38 .grid-32 {
	width: 1900px;
}

.container-38 .grid-33 {
	width: 1960px;
}

.container-38 .grid-34 {
	width: 2020px;
}

.container-38 .grid-35 {
	width: 2080px;
}

.container-38 .grid-36 {
	width: 2140px;
}

.container-38 .grid-37 {
	width: 2200px;
}

.container-38 .grid-38 {
	width: 2260px;
}

/* `Prefix Extra Space >> Global -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.container-12 .prefix-3,
.container-16 .prefix-4,
.container-38 .prefix-4 {
  padding-left: 240px;
}

.container-12 .prefix-6,
.container-16 .prefix-8,
.container-38 .prefix-8 {
  padding-left: 480px;
}

.container-12 .prefix-9,
.container-16 .prefix-12,
.container-38 .prefix-12 {
  padding-left: 720px;
}

/* `Prefix Extra Space >> 12 Columns -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.container-12 .prefix-1 {
  padding-left: 80px;
}

.container-12 .prefix-2 {
  padding-left: 160px;
}

.container-12 .prefix-4 {
  padding-left: 320px;
}

.container-12 .prefix-5 {
  padding-left: 400px;
}

.container-12 .prefix-7 {
  padding-left: 560px;
}

.container-12 .prefix-8 {
  padding-left: 640px;
}

.container-12 .prefix-10 {
  padding-left: 800px;
}

.container-12 .prefix-11 {
  padding-left: 880px;
}

/* `Prefix Extra Space >> 16 Columns -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.container-16 .prefix-1 {
  padding-left: 60px;
}

.container-16 .prefix-2 {
  padding-left: 120px;
}

.container-16 .prefix-3 {
  padding-left: 180px;
}

.container-16 .prefix-5 {
  padding-left: 300px;
}

.container-16 .prefix-6 {
  padding-left: 360px;
}

.container-16 .prefix-7 {
  padding-left: 420px;
}

.container-16 .prefix-9 {
  padding-left: 540px;
}

.container-16 .prefix-10 {
  padding-left: 600px;
}

.container-16 .prefix-11 {
  padding-left: 660px;
}

.container-16 .prefix-13 {
  padding-left: 780px;
}

.container-16 .prefix-14 {
  padding-left: 840px;
}

.container-16 .prefix-15 {
  padding-left: 900px;
}

/* `Prefix Extra Space >> 38 Columns -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.container-38 .prefix-1 {
  padding-left: 60px;
}

.container-38 .prefix-2 {
  padding-left: 120px;
}

.container-38 .prefix-3 {
  padding-left: 180px;
}

.container-38 .prefix-5 {
  padding-left: 300px;
}

.container-38 .prefix-6 {
  padding-left: 360px;
}

.container-38 .prefix-7 {
  padding-left: 420px;
}

.container-38 .prefix-9 {
  padding-left: 540px;
}

.container-38 .prefix-10 {
  padding-left: 600px;
}

.container-38 .prefix-11 {
  padding-left: 660px;
}

.container-38 .prefix-13 {
  padding-left: 780px;
}

.container-38 .prefix-14 {
  padding-left: 840px;
}

.container-38 .prefix-15 {
  padding-left: 900px;
}

.container-38 .prefix-16 {
  padding-left: 960px;
}

.container-38 .prefix-17 {
  padding-left: 1020px;
}

.container-38 .prefix-18 {
  padding-left: 1080px;
}

.container-38 .prefix-19 {
  padding-left: 1140px;
}

.container-38 .prefix-20 {
  padding-left: 1200px;
}

.container-38 .prefix-21 {
  padding-left: 1260px;
}

.container-38 .prefix-22 {
  padding-left: 1320px;
}

.container-38 .prefix-23 {
  padding-left: 1380px;
}

.container-38 .prefix-24 {
  padding-left: 1440px;
}

.container-38 .prefix-25 {
  padding-left: 1500px;
}

.container-38 .prefix-26 {
  padding-left: 1560px;
}

.container-38 .prefix-27 {
  padding-left: 1620px;
}

.container-38 .prefix-28 {
  padding-left: 1680px;
}

.container-38 .prefix-29 {
  padding-left: 1740px;
}

.container-38 .prefix-30 {
  padding-left: 1800px;
}

.container-38 .prefix-31 {
  padding-left: 1860px;
}

.container-38 .prefix-32 {
  padding-left: 1920px;
}

.container-38 .prefix-33 {
  padding-left: 1980px;
}

.container-38 .prefix-34 {
  padding-left: 2040px;
}

.container-38 .prefix-35 {
  padding-left: 2100px;
}

.container-38 .prefix-36 {
  padding-left: 2160px;
}

.container-38 .prefix-37 {
  padding-left: 2200px;
}

/* `Suffix Extra Space >> Global -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.container-12 .suffix-3,
.container-16 .suffix-4,
.container-38 .suffix-4 {
  padding-right: 240px;
}

.container-12 .suffix-6,
.container-16 .suffix-8,
.container-38 .suffix-8 {
  padding-right: 480px;
}

.container-12 .suffix-9,
.container-16 .suffix-12,
.container-38 .suffix-12 {
  padding-right: 720px;
}

/* `Suffix Extra Space >> 12 Columns -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.container-12 .suffix-1 {
  padding-right: 80px;
}

.container-12 .suffix-2 {
  padding-right: 160px;
}

.container-12 .suffix-4 {
  padding-right: 320px;
}

.container-12 .suffix-5 {
  padding-right: 400px;
}

.container-12 .suffix-7 {
  padding-right: 560px;
}

.container-12 .suffix-8 {
  padding-right: 640px;
}

.container-12 .suffix-10 {
  padding-right: 800px;
}

.container-12 .suffix-11 {
  padding-right: 880px;
}

/* `Suffix Extra Space >> 16 Columns -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.container-16 .suffix-1 {
  padding-right: 60px;
}

.container-16 .suffix-2 {
  padding-right: 120px;
}

.container-16 .suffix-3 {
  padding-right: 180px;
}

.container-16 .suffix-5 {
  padding-right: 300px;
}

.container-16 .suffix-6 {
  padding-right: 360px;
}

.container-16 .suffix-7 {
  padding-right: 420px;
}

.container-16 .suffix-9 {
  padding-right: 540px;
}

.container-16 .suffix-10 {
  padding-right: 600px;
}

.container-16 .suffix-11 {
  padding-right: 660px;
}

.container-16 .suffix-13 {
  padding-right: 780px;
}

.container-16 .suffix-14 {
  padding-right: 840px;
}

.container-16 .suffix-15 {
  padding-right: 900px;
}

/* `Push Space >> Global -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.push-1,
.push-2,
.push-3,
.push-4,
.push-5,
.push-6,
.push-7,
.push-8,
.push-9,
.push-10,
.push-11,
.push-12,
.push-13,
.push-14,
.push-15,
.push-16,
.push-17,
.push-18,
.push-19,
.push-20,
.push-21,
.push-22,
.push-23,
.push-24,
.push-25,
.push-26,
.push-27,
.push-28,
.push-29,
.push-30,
.push-31,
.push-32,
.push-33,
.push-34,
.push-35,
.push-36,
.push-37,
.push-38 {
  position: relative;
}

.container-12 .push-3,
.container-16 .push-4,
.container-38 .push-4 {
  left: 240px;
}

.container-12 .push-6,
.container-16 .push-8,
.container-38 .push-8 {
  left: 480px;
}

.container-12 .push-9,
.container-16 .push-12,
.container-38 .push-12 {
  left: 720px;
}

/* `Push Space >> 12 Columns -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.container-12 .push-1 {
  left: 80px;
}

.container-12 .push-2 {
  left: 160px;
}

.container-12 .push-4 {
  left: 320px;
}

.container-12 .push-5 {
  left: 400px;
}

.container-12 .push-7 {
  left: 560px;
}

.container-12 .push-8 {
  left: 640px;
}

.container-12 .push-10 {
  left: 800px;
}

.container-12 .push-11 {
  left: 880px;
}

/* `Push Space >> 16 and 38 Columns -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.container-16 .push-1,
.container-38 .push-1 {
  left: 60px;
}

.container-16 .push-2,
.container-38 .push-2 {
  left: 120px;
}

.container-16 .push-3,
.container-38 .push-3 {
  left: 180px;
}

.container-16 .push-5,
.container-38 .push-5 {
  left: 300px;
}

.container-16 .push-6,
.container-38 .push-6 {
  left: 360px;
}

.container-16 .push-7,
.container-38 .push-7 {
  left: 420px;
}

.container-16 .push-9,
.container-38 .push-9 {
  left: 540px;
}

.container-16 .push-10,
.container-38 .push-10 {
  left: 600px;
}

.container-16 .push-11,
.container-38 .push-11 {
  left: 660px;
}

.container-16 .push-13,
.container-38 .push-13 {
  left: 780px;
}

.container-16 .push-14,
.container-38 .push-14 {
  left: 840px;
}

.container-16 .push-15,
.container-38 .push-15 {
  left: 900px;
}

.container-38 .push-16 {
  left: 960px;
}

.container-38 .push-17 {
  left: 1020px;
}

.container-38 .push-18 {
  left: 1080px;
}

.container-38 .push-19 {
  left: 1140px;
}

.container-38 .push-20 {
  left: 1200px;
}

.container-38 .push-21 {
  left: 1260px;
}

.container-38 .push-22 {
  left: 1320px;
}

.container-38 .push-23 {
  left: 1380px;
}

.container-38 .push-24 {
  left: 1440px;
}

.container-38 .push-25 {
  left: 1500px;
}

.container-38 .push-26 {
  left: 1560px;
}

.container-38 .push-27 {
  left: 1620px;
}

.container-38 .push-28 {
  left: 1680px;
}

.container-38 .push-29 {
  left: 1740px;
}

.container-38 .push-30 {
  left: 1800px;
}

.container-38 .push-31 {
  left: 1860px;
}

.container-38 .push-32 {
  left: 1920px;
}

.container-38 .push-33 {
  left: 1980px;
}

.container-38 .push-34 {
  left: 2040px;
}

.container-38 .push-35 {
  left: 2100px;
}

.container-38 .push-36 {
  left: 2160px;
}

.container-38 .push-37 {
  left: 2200px;
}

/* `Pull Space >> Global -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.pull-1,
.pull-2,
.pull-3,
.pull-4,
.pull-5,
.pull-6,
.pull-7,
.pull-8,
.pull-9,
.pull-10,
.pull-11,
.pull-12,
.pull-13,
.pull-14,
.pull-15,
.pull-16,
.pull-17,
.pull-18,
.pull-19,
.pull-20,
.pull-21,
.pull-22,
.pull-23,
.pull-24,
.pull-25,
.pull-26,
.pull-27,
.pull-28,
.pull-29,
.pull-30,
.pull-31,
.pull-32,
.pull-33,
.pull-34,
.pull-35,
.pull-36,
.pull-37,
.pull-38 {
  position: relative;
}

.container-12 .pull-3,
.container-16 .pull-4,
.container-38 .pull-4 {
  left: -240px;
}

.container-12 .pull-6,
.container-16 .pull-8,
.container-38 .pull-8 {
  left: -480px;
}

.container-12 .pull-9,
.container-16 .pull-12,
.container-38 .pull-12 {
  left: -720px;
}

/* `Pull Space >> 12 Columns -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.container-12 .pull-1 {
  left: -80px;
}

.container-12 .pull-2 {
  left: -160px;
}

.container-12 .pull-4 {
  left: -320px;
}

.container-12 .pull-5 {
  left: -400px;
}

.container-12 .pull-7 {
  left: -560px;
}

.container-12 .pull-8 {
  left: -640px;
}

.container-12 .pull-10 {
  left: -800px;
}

.container-12 .pull-11 {
  left: -880px;
}

/* `Pull Space >> 16 and 38 Columns -Has RTL counterpart.
----------------------------------------------------------------------------------------------------*/

.container-16 .pull-1,
.container-38 .pull-1 {
  left: -60px;
}

.container-16 .pull-2,
.container-38 .pull-2 {
  left: -120px;
}

.container-16 .pull-3,
.container-38 .pull-3 {
  left: -180px;
}

.container-16 .pull-5,
.container-38 .pull-5 {
  left: -300px;
}

.container-16 .pull-6,
.container-38 .pull-6 {
  left: -360px;
}

.container-16 .pull-7,
.container-38 .pull-7 {
  left: -420px;
}

.container-16 .pull-9,
.container-38 .pull-9 {
  left: -540px;
}

.container-16 .pull-10,
.container-38 .pull-10 {
  left: -600px;
}

.container-16 .pull-11,
.container-38 .pull-11 {
  left: -660px;
}

.container-16 .pull-13,
.container-38 .pull-13 {
  left: -780px;
}

.container-16 .pull-14,
.container-38 .pull-14 {
  left: -840px;
}

.container-16 .pull-15,
.container-38 .pull-15 {
  left: -900px;
}

.container-38 .pull-16 {
  left: -960px;
}

.container-38 .pull-17 {
  left: -1020px;
}

.container-38 .pull-18 {
  left: -1080px;
}

.container-38 .pull-19 {
  left: -1140px;
}

.container-38 .pull-20 {
  left: -1200px;
}

.container-38 .pull-21 {
  left: -1260px;
}

.container-38 .pull-22 {
  left: -1320px;
}

.container-38 .pull-23 {
  left: -1380px;
}

.container-38 .pull-24 {
  left: -1440px;
}

.container-38 .pull-25 {
  left: -1500px;
}

.container-38 .pull-26 {
  left: -1560px;
}

.container-38 .pull-27 {
  left: -1620px;
}

.container-38 .pull-28 {
  left: -1680px;
}

.container-38 .pull-29 {
  left: -1740px;
}

.container-38 .pull-30 {
  left: -1800px;
}

.container-38 .pull-31 {
  left: -1860px;
}

.container-38 .pull-32 {
  left: -1920px;
}

.container-38 .pull-33 {
  left: -1980px;
}

.container-38 .pull-34 {
  left: -2040px;
}

.container-38 .pull-35 {
  left: -2100px;
}

.container-38 .pull-36 {
  left: -2160px;
}

.container-38 .pull-37 {
  left: -2200px;
}