
body.show-lines {
	background: url(../../images/baseline_14px.png) repeat scroll 0% 0%;
}

body.show-grid .container-16,
body.show-grid .container-38 {
  background-image: url(../../images/16_col.gif);
}
body.show-grid .container-12 {
  background-image: url(../../images/12_col.gif);
}

body.show-grid .grid-1:hover,
body.show-grid .grid-2:hover,
body.show-grid .grid-3:hover,
body.show-grid .grid-4:hover,
body.show-grid .grid-5:hover,
body.show-grid .grid-6:hover,
body.show-grid .grid-7:hover,
body.show-grid .grid-8:hover,
body.show-grid .grid-9:hover,
body.show-grid .grid-10:hover,
body.show-grid .grid-11:hover,
body.show-grid .grid-12:hover,
body.show-grid .grid-13:hover,
body.show-grid .grid-14:hover,
body.show-grid .grid-15:hover,
body.show-grid .grid-16:hover,
body.show-grid .grid-17:hover,
body.show-grid .grid-18:hover,
body.show-grid .grid-19:hover,
body.show-grid .grid-20:hover,
body.show-grid .grid-21:hover,
body.show-grid .grid-22:hover,
body.show-grid .grid-23:hover,
body.show-grid .grid-24:hover,
body.show-grid .grid-25:hover,
body.show-grid .grid-26:hover,
body.show-grid .grid-27:hover,
body.show-grid .grid-28:hover,
body.show-grid .grid-29:hover,
body.show-grid .grid-30:hover,
body.show-grid .grid-31:hover,
body.show-grid .grid-32:hover,
body.show-grid .grid-33:hover,
body.show-grid .grid-34:hover,
body.show-grid .grid-35:hover,
body.show-grid .grid-36:hover,
body.show-grid .grid-37:hover,
body.show-grid .grid-38:hover {
  background-color: rgba(0, 255, 255, .2);
  background-repeat: no-repeat;
  background-position: top right;
  outline: 1px solid #d66;
}

body.show-grid .grid-1:hover {
  background-image: url(../../images/grid_count/1.png);
}
body.show-grid .grid-2:hover {
  background-image: url(../../images/grid_count/2.png);
}
body.show-grid .grid-3:hover {
  background-image: url(../../images/grid_count/3.png);
}
body.show-grid .grid-4:hover {
  background-image: url(../../images/grid_count/4.png);
}
body.show-grid .grid-5:hover {
  background-image: url(../../images/grid_count/5.png);
}
body.show-grid .grid-6:hover {
  background-image: url(../../images/grid_count/6.png);
}
body.show-grid .grid-7:hover {
  background-image: url(../../images/grid_count/7.png);
}
body.show-grid .grid-8:hover {
  background-image: url(../../images/grid_count/8.png);
}
body.show-grid .grid-9:hover {
  background-image: url(../../images/grid_count/9.png);
}
body.show-grid .grid-10:hover {
  background-image: url(../../images/grid_count/10.png);
}
body.show-grid .grid-11:hover {
  background-image: url(../../images/grid_count/11.png);
}
body.show-grid .grid-12:hover {
  background-image: url(../../images/grid_count/12.png);
}
body.show-grid .grid-13:hover {
  background-image: url(../../images/grid_count/13.png);
}
body.show-grid .grid-14:hover {
  background-image: url(../../images/grid_count/14.png);
}
body.show-grid .grid-15:hover {
  background-image: url(../../images/grid_count/15.png);
}
body.show-grid .grid-16:hover {
  background-image: url(../../images/grid_count/16.png);
}
