/**
 * Eric Meyer's Reset CSS
 *
 * v1.0 | 20080212
 * http://meyerweb.com/eric/tools/css/reset/
 *
 * Changes to the original Reset CSS:
 *   - "outline" attributes have been commented out for accessibility reasons
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
/* outline: 0; */
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! 
:focus {
  outline: 0;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset Drupal specific things */

ul.primary {
	padding: 0;
	margin: 0;
}

.item-list ul li {
	margin: 0 0 0 1.5em;
}