/* 960 Grid System ~ Text CSS. Learn more ~ http://960.gs/

Licensed under GPL and MIT.

Modifide for Drupal. */

/* `Basic HTML ----------------------------------------------------------------------------------------------------*/

body {
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	padding-top: 42px;
	padding-bottom: 42px;
	letter-spacing:-0.5px;
}

p {
	font-size: 1em; /* 12px */ 
	line-height: 1.1667em; /* 14px */ 
	margin: 0 0 1.1667em 0;
}

a {
	text-decoration: none;
	border-bottom: #333333 1px solid;
	color: #333333;
}

/* Node titles don't get underlined */

a.node-title {
	border-bottom: none;
}

/* Views links need to be overridden */

.views-tabset a:visited, .views-tabset a:hover, .views-tabset a {
	color: #333333;
}

hr {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
}

/* `Headings ----------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 3.5em; /* 42px */
	line-height: 1em; /* 42px */
	margin-bottom: 0.16665em;
	margin-top: 0.16665em;
	color: #333333;
	letter-spacing:-3px;
}

h2 {
	font-size: 2.3333em; /* 28px */
	line-height: 1em; /* 28px */
	margin-bottom: 0.25em;
	margin-top: 0.25em;
	color: #333333;
	letter-spacing:-3px;
}

h3 {
	font-size: 2em; /* 24px */
	line-height: 1.1667em; /* 28px */
	margin-bottom: 0.29165em;
	margin-top: 0.29165em;
	color: #333333;
	letter-spacing:-2px;
}

h4 {
	font-size: 1.6667em; /* 20px */ 
	line-height: 1.4em; /* 28px */ 
	margin-bottom: 0.35em;
	margin-top: 0.35em;
	color: #333333;
	letter-spacing:-2px;
}

h5 {
	font-size: 1.3333em; /* 16px */ 
	line-height: 1.75em; /* 28px */ 
	margin-bottom: 0.4375em;
	margin-top: 0.4375em;
	color: #333333;
	letter-spacing:-1px;
}

h6 {
	font-size: 1.1667em; /* 14px */ 
	line-height: 1em; /* 14px */ 
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	color: #333333;
	letter-spacing:-1px;
}

/* `Site Name and Slogan -------------------------------------------------------------------------------------------*/

#branding a {
	font-size: 3.5em; /* 42px */
	line-height: 1em; /* 42px */
	margin-bottom: 0.3333em;
	margin-top: 0em;
	text-decoration: none;
	border-bottom: none;
	color: #000000;
	font-weight: bold;
	letter-spacing:-3px;
}

/* This is to keep the sitename when it is in an <h1> (i.e., the front page only) from being hit twice by the 3.5 em, once as an a in the #branding and another time as an a in the h1 */

#branding h1 a {
	font-size: 1em;
}

#site-slogan {
	font-size: 2.3333em; /* 28px */
	line-height: 1em; /* 28px */
	margin-bottom: 0.5em;
	margin-top: 0em;
	color: #000000;
	font-weight: bold;
	letter-spacing:-3px;
}

/* Main and secondary links */

#site-menu a, #secondary-menu a {
	border-bottom: none;
}
