/*
** Formatting for administration page
**
** The admin panel styles are a mess. IE has problems with this so this is
** only a temporary fix. This should be fixed in core.
*/
div.admin-panel {
  padding: 0;
}

div.admin-panel .body {
  padding: 0 !important;
}

div.admin .left,
div.admin .right {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

div.admin .right .admin-panel {
  margin-left: 10px;
}

ul.links li {
  padding: 0;
}

ul.menu li {
  margin: 0 0 0 1.5em;
}

li.leaf {
  padding: 0;
}

.container-12 blockquote {
  padding: 0 0 0 80px;
}

.container-16 blockquote {
  padding: 0 0 0 60px;
}
